{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/columncontrol/1.2.1/css/columnControl.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.8/css/responsive.dataTables.min.css">
{% endblock %}

{% block body %}
<div class="box">
    <div class="title-area">
        <h2>Health Dashboard</h2>
    </div>
    <div class="content">
        <form action="" method="GET">
            {% csrf_token %}
            {{ form }}
             <button type="submit" class="button">Apply</button>
        </form>
        <table id="dashboard" class="table table-bordered small" id="eschol_publish_articles">
            <thead>
                <tr>
                    <th>Journal</th>
                    <th>Expected issues per year</th>
                    <th>Stale unassigned articles</th>
                    <th>Last editor login</th>
                    <th>Stalled articles</th>
                    <th>Annual peer-reviewed articles</th>
                    <th>Issues in last year</th>
                </tr>
            </thead>
            <tbody>
            {% for r in results %}
                <tr>
                    <td><a href="{{ r.journal.site_url }}">{{ r.journal.name }}</a></td>
                    <td>{{ r.publication_frequency }}</td>
                    <td>
                        {% if r.total_unassigned > 0 %}
                            <div class="callout alert">
                                {{ r.total_unassigned }}
                                ({{ r.days_unassigned }} days)
                            </div>
                        {% else %}
                            <div>0</div>
                        {% endif %}
                    </td>
                    <td>
                        <div {% if r.days_since_login > r.login_threshold or r.days_since_login == None %}class="callout alert"{% endif %}>
                            {{ r.last_editor }} {% if r.days_since_login is not None %}({{ r.days_since_login }} days){% endif %}
                        </div>
                    </td>
                    <td>
                        {% if r.total_stalled > 0 %}
                            <div class="callout alert">
                                {{ r.total_stalled }}
                            </div>
                        {% else %}
                            {{ r.total_stalled }}
                        {% endif %}
                    </td>
                    <td>
                        {% if r.annual_peer_reviewed < 5 %}
                            <div class="callout alert">
                                {{ r.annual_peer_reviewed }}
                            </div>
                        {% else %}
                            {{ r.annual_peer_reviewed }}
                        {% endif %}
                    </td>
                    <td>
                        {% if r.cadence < r.publication_frequency %}
                            <div class="callout alert">
                                {{ r.cadence }}
                            </div>
                        {% else %}
                            {{ r.cadence }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
<script src='//cdn.datatables.net/2.3.8/js/dataTables.min.js'></script>
<script>
    $('#dashboard').DataTable( {
        searching: false,
        paging: false
    } );
</script>
{% endblock %}
